* {
   box-sizing: border-box;
}

html {
   background-image: url(../img/frantisek-g-XXuVXLy5gHU-unsplash.jpg);
   background-color: #333;
   background-blend-mode: multiply;
   background-size:  200%;
   background-repeat: repeat;

   font-size: 10px;
}

h1 {
   font-family: 'Ubuntu', sans-serif;
   font-size: 3rem;
   text-align: center;
   padding: 2rem;
   background-color: #BDBFBF;
   margin-bottom: 3rem;
}

h3{
   font-family: 'Ubuntu', sans-serif;
   font-size: 2.2rem;
   text-align: center;
   line-height: 1.5;
}

h3:hover {
   color: black;
}

h4 {
   font-family: 'Ubuntu', sans-serif;
   font-size: 2rem;
   color: rgba(255, 255, 255, 0.5);
   margin-bottom: 0.5rem;
   margin-top: 2rem;
   margin-left: 1rem;
   
}

a {
   font-family: 'Merriweather Sans', sans-serif;
   font-size: 1.5rem;
   letter-spacing: 1px;
   text-decoration: none;
   color: white;
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   width: 100%;
   margin: 0.25rem auto;
   display: inline-block;
}

a:hover {
   opacity: 0.5;
   transition: ease-in 0.3s;
   background-color: white;
   color: black;
   width: 100%;
   margin: 0.25rem auto;
}

#red {
   background-color: red;
   height: 20rem;
}
#blue {
   background-color: blue;
   height: 30rem;
}
#yellow {
   background-color: yellow;
   height: 25rem;
}
#orange {
   background-color: orange;
   height: 40rem;
}

/* MAIN */
main {
   width: 95%;
   margin: 0 auto;
}

.drug-box {
   border: red solid 2px;
}

main .illness-title {
   align-self: center;
   padding: 1rem 0.5rem;
   margin-bottom: 2rem;
}



/* FONTS */
/* 
font-family: 'Ubuntu', sans-serif;

font-family: 'Merriweather Sans', sans-serif;
 */


/* COLORS */
